[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=NepomukService
X-KDE-Library=nepomuk-webminerservice
X-KDE-Nepomuk-autostart=true
Name=Nepomuk-WebMiner Service
Name[bs]=Nepomuk-WebMiner usliga
Name[cs]=Služba Nepomuk-WebMiner
Name[da]=Nepomuk-WebMiner-tjeneste
Name[de]=Nepomuk-WebMiner-Dienst
Name[el]=Υπηρεσία Nepomuk-WebMiner
Name[es]=Servicio Nepomuk-WebMiner
Name[et]=Nepomuki veebiotsija teenus
Name[fi]=Nepomuk-WebMiner-palvelu
Name[fr]=Service Nepomuk-Webminer
Name[gl]=Servizo Nepomuk-WebMiner
Name[hu]=Nepomuk-WebMiner szolgáltatás
Name[it]=Servizio Nepomuk-WebMiner
Name[lt]=Nepomuk-WebMiner paslauga
Name[mr]=नेपोमुक-वेबमाइनर सेवा
Name[nb]=Nepomuk nettgravertjeneste
Name[nl]=Service van Nepomuk-WebMiner
Name[pl]=Usługa Górnika Sieciowego Nepomuk
Name[pt]=Serviço do Nepomuk-WebMiner
Name[pt_BR]=Serviço do Nepomuk-WebMiner
Name[ro]=Serviciu Nepomuk-WebMiner
Name[sk]=Služba Nepomuk-WebMiner
Name[sv]=Tjänst för Nepomuk webbinsamling
Name[tr]=Nepomuk-WebMadenci Hizmeti
Name[uk]=Служба Nepomuk-WebMiner
Name[x-test]=xxNepomuk-WebMiner Servicexx
Name[zh_TW]=Nepomuk-WebMiner 服務

