[Desktop Entry]
Exec=kcmshell4 kcm_nepomuk-webminer
Icon=nepomuk
Type=Service

X-DocPath=kcontrol/nepomuk-webminer/index.html

X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_nepomuk-webminer
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=desktop-search

Name=WebMiner
Comment=Nepomuk-WebMiner Configuration
X-KDE-Keywords=Nepomuk,Metadata

