[Desktop Entry]
Exec=kcmshell4 kcm_nepomuk-webminer
Icon=nepomuk
Type=Service

X-DocPath=kcontrol/nepomuk-webminer/index.html

X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_nepomuk-webminer
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=desktop-search

Name=WebMiner
Name[ca]=WebMiner
Name[cs]=WebMiner
Name[da]=WebMiner
Name[de]=WebMiner
Name[el]=WebMiner
Name[es]=WebMiner
Name[fi]=WebMiner
Name[fr]=WebMiner
Name[gl]=WebMiner
Name[hu]=WebMiner
Name[kk]=WebMiner
Name[lt]=WebMiner
Name[mr]=वेबमाइनर
Name[nb]=WebMiner
Name[nl]=WebMiner
Name[pl]=Górnik Sieciowy
Name[pt]=WebMiner
Name[pt_BR]=WebMiner
Name[ro]=WebMiner
Name[sk]=WebMiner
Name[sl]=WebMiner
Name[sv]=Webbinsamling
Name[tr]=WebMadencisi
Name[ug]=WebMiner
Name[uk]=WebMiner
Name[x-test]=xxWebMinerxx
Name[zh_CN]=网络挖掘
Name[zh_TW]=WebMiner
Comment=Nepomuk-WebMiner Configuration
Comment[bs]=Konfiguracija Nepomuk-WebMiner
Comment[ca]=Configuració del Nepomuk-WebMiner
Comment[cs]=Nastavení Nepomuk-WebMiner
Comment[da]=Konfiguration af Nepomuk-WebMiner
Comment[de]=Einrichtung von Nepomuk-WebMiner
Comment[el]=Διαμόρφωση Nepomuk-WebMiner
Comment[es]=Configuración de Nepomuk-WebMiner
Comment[et]=Nepomuki veebiotsija seadistamine
Comment[fi]=Nepomuk-WebMinerin asetukset
Comment[fr]=Configuration de Nepomuk-Webminer
Comment[gl]=Configuración de Nepomuk-WebMiner.
Comment[hu]=Nepomuk-WebMiner beállítás
Comment[it]=Configurazione di Nepomuk-WebMiner
Comment[kk]=Nepomuk-WebMiner баптауы
Comment[lt]=Nepomuk-WebMiner nustatymai
Comment[mr]=नेपोमुक-वेबमाइनर संयोजना
Comment[nb]=Oppsett for Nepomuk nettgraver
Comment[nl]=Nepomuk configuratie van WebMiner
Comment[pl]=Konfiguracja Górnika Sieciowego Nepomuk
Comment[pt]=Configuração do Nepomuk-WebMiner
Comment[pt_BR]=Configuração do Nepomuk-WebMiner
Comment[ro]=Configurare Nepomuk-Webminer
Comment[sk]=Nastavenie Nepomuk-WebMiner
Comment[sl]=Nastavitve za Nepomuk-WebMiner
Comment[sv]=Inställning av Nepomuk-webbinsamling
Comment[tr]=Nepomuk-WebMadenci Yapılandırması
Comment[uk]=Модуль налаштовування Nepomuk-WebMiner
Comment[x-test]=xxNepomuk-WebMiner Configurationxx
Comment[zh_CN]=Nepomuk 网络挖掘配置
Comment[zh_TW]=Nepomuk-WebMiner 設定
X-KDE-Keywords=Nepomuk,Metadata
X-KDE-Keywords[bs]=Nepomuk, metapodaci
X-KDE-Keywords[ca]=Nepomuk,Metadades
X-KDE-Keywords[cs]=Nepomuk,Metadata
X-KDE-Keywords[da]=Nepomuk,Metadata
X-KDE-Keywords[de]=Nepomuk,Metadaten
X-KDE-Keywords[el]=Nepomuk,μεταδεδομένα
X-KDE-Keywords[es]=Nepomuk,Metadatos
X-KDE-Keywords[et]=Nepomuk,metaandmed
X-KDE-Keywords[fi]=Nepomuk,Metadata,Metatieto
X-KDE-Keywords[fr]=Métadonnées, Nepomuk
X-KDE-Keywords[gl]=Nepomuk,Metadata,metadatos
X-KDE-Keywords[hu]=Nepomuk,Metaadat
X-KDE-Keywords[it]=Nepomuk, Metadati
X-KDE-Keywords[kk]=Nepomuk,Metadata
X-KDE-Keywords[lt]=Nepomuk,Metaduomenys
X-KDE-Keywords[mr]=नेपोमुक, मेटाडेटा
X-KDE-Keywords[nb]=Nepomuk,Metadata
X-KDE-Keywords[nl]=Nepomuk,metagegevens
X-KDE-Keywords[pl]=Nepomuk,Metadane
X-KDE-Keywords[pt]=Nepomuk,Meta-dados
X-KDE-Keywords[pt_BR]=Nepomuk,Metadados
X-KDE-Keywords[ro]=Nepomuk,Metadate
X-KDE-Keywords[sk]=Nepomuk,Metadáta
X-KDE-Keywords[sl]=Nepomuk,metapodatki
X-KDE-Keywords[sv]=Nepomuk,metadata
X-KDE-Keywords[tr]=Nepomuk,Üstveri
X-KDE-Keywords[ug]=Nepomuk,Metadata
X-KDE-Keywords[uk]=Nepomuk,Metadata,немомук,непом’юк,метадані
X-KDE-Keywords[x-test]=xxNepomuk,Metadataxx
X-KDE-Keywords[zh_CN]=Nepomuk,Metadata,元数据
X-KDE-Keywords[zh_TW]=Nepomuk,Metadata

