[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/*;video/*;audio/*;inode/directory;
Actions=mdfetcher;mdfetcher2;mdfetcher3;mdfetcher4;
X-KDE-Submenu=Desktop Search
X-KDE-Submenu[bs]=Pretraga na radnoj površi
X-KDE-Submenu[ca]=Cerca a l'escriptori
X-KDE-Submenu[cs]=Vyhledávací služby
X-KDE-Submenu[da]=Skrivebordssøgning
X-KDE-Submenu[de]=Desktop-Suche
X-KDE-Submenu[el]=Αναζήτηση στην επιφάνεια εργασίας
X-KDE-Submenu[es]=Búsqueda de escritorio
X-KDE-Submenu[et]=Töölauaotsing
X-KDE-Submenu[fi]=Työpöytähaku
X-KDE-Submenu[fr]=Recherche sur le bureau
X-KDE-Submenu[ga]=Cuardach Deisce
X-KDE-Submenu[gl]=Busca no escritorio
X-KDE-Submenu[hu]=Asztali keresés
X-KDE-Submenu[it]=Ricerca desktop
X-KDE-Submenu[kk]=Компьютерде іздеу
X-KDE-Submenu[km]=ការ​ស្វែងរក​ផ្ទៃតុ
X-KDE-Submenu[lt]=Darbastalio paieška
X-KDE-Submenu[mr]=डेस्कटॉप शोध
X-KDE-Submenu[nb]=Skrivebordssøk
X-KDE-Submenu[nds]=Schriefdischsöök
X-KDE-Submenu[nl]=Bureaublad-zoekopdracht
X-KDE-Submenu[pl]=Wyszukiwanie na pulpicie
X-KDE-Submenu[pt]=Pesquisa no Ambiente de Trabalho
X-KDE-Submenu[pt_BR]=Pesquisa no desktop
X-KDE-Submenu[ro]=Căutare de birou
X-KDE-Submenu[sk]=Hľadanie na ploche
X-KDE-Submenu[sl]=Namizno iskanje
X-KDE-Submenu[sv]=Skrivbordssökning
X-KDE-Submenu[tr]=Masaüstü Araması
X-KDE-Submenu[ug]=ئۈستەلئۈستىدە ئىزدەش
X-KDE-Submenu[uk]=Стільничний пошук
X-KDE-Submenu[x-test]=xxDesktop Searchxx
X-KDE-Submenu[zh_CN]=桌面搜索
X-KDE-Submenu[zh_TW]=桌面搜尋
Icon=nepomuk

[Desktop Action mdfetcher]
Name=Harvest meta data for this file or folder
Name[bs]=Žetva metapodataka za ovu datoteku ili direktorij
Name[ca]=Recull les metadades per aquest fitxer o carpeta
Name[da]=Høst metadata for denne fil eller mappe
Name[de]=Metadaten für die Datei oder Ordner einholen
Name[el]=Συλλογή μετα δεδομένων για αυτό το αρχείο ή το φάκελο
Name[es]=Recolectar metadatos para este archivo o carpeta
Name[et]=Faili või kataloogi metaandmete hankimine
Name[fi]=Kerää metatiedot tämän tiedoston tai kansion osalta
Name[fr]=Recueille des métadonnées pour ce fichier ou ce dossier
Name[gl]=Reunir metadatos para este ficheiro ou cartafol
Name[hu]=Metaadat begyűjtése ehhez a fájlhoz vagy mappához
Name[it]=Raccoglie meta dati per questo file o per questa cartella
Name[kk]=Файл әлде қапшық үшін метадеректі жинақтау
Name[lt]=Rinkti metaduomenis iš šio failo ar aplanko
Name[nb]=Høst inn metadata for denne filen eller mappa
Name[nl]=Metagegevens voor dit bestand of map oogsten
Name[pl]=Zbierz meta dane dla tego pliku lub katalogu
Name[pt]=Obter os meta-dados desta pasta ou ficheiro
Name[pt_BR]=Obter metadados para este arquivo ou pasta
Name[ro]=Culege metadate pentru acest fișier sau dosar
Name[sk]=Zbierať metadáta pre tento súbor alebo priečinok
Name[sl]=Zberi metapodatke za to datoteko ali mapo
Name[sv]=Samla in metadata för den här filen eller katalogen
Name[tr]=Bu dosya veya klasör için üst veriyi ayıkla
Name[uk]=Зібрати метадані для цього файла або теки
Name[x-test]=xxHarvest meta data for this file or folderxx
Name[zh_CN]=从此文件或者文件夹获取元数据
Name[zh_TW]=取得此檔案與資料夾的中繼資料
Icon=nepomuk
Exec=nepomuk-webminer %f

[Desktop Action mdfetcher2]
Name=Harvest meta data for this file or folder (automatically)
Name[bs]=Žetva metapodataka za ovu datoteku ili direktorij (automatski)
Name[ca]=Recull les metadades per aquest fitxer o carpeta (automàticament)
Name[da]=Høst metadata for denne fil eller mappe (automatisk)
Name[de]=Metadaten für die Datei oder Ordner einholen (automatisch)
Name[el]=Συλλογή μετα δεδομένων για αυτό το αρχείο ή το φάκελο (αυτόματα)
Name[es]=Recolectar metadatos para este archivo o carpeta (automáticamente)
Name[et]=Faili või kataloogi metaandmete hankimine (automaatne)
Name[fi]=Kerää metatiedot tämän tiedoston tai kansion osalta (automaattisesti)
Name[fr]=Recueille des métadonnées pour ce fichier ou ce dossier (automatiquement)
Name[gl]=Reunir metadatos para este ficheiro ou cartafol (automaticamente)
Name[hu]=Metaadat begyűjtése ehhez a fájlhoz vagy mappához (automatikusan)
Name[it]=Raccoglie meta dati per questo file o per questa cartella (automaticamente)
Name[kk]=Файл әлде қапшық үшін метадеректі автожинақтау
Name[lt]=Rinkti metaduomenis iš šio failo ar aplanko (automatiškai)
Name[nb]=Høst inn metadata for denne filen eller mappa (automatisk)
Name[nl]=Metagegevens voor dit bestand of map oogsten (automatisch)
Name[pl]=Zbierz meta dane dla tego pliku lub katalogu (samoczynnie)
Name[pt]=Obter os meta-dados desta pasta ou ficheiro (automaticamente)
Name[pt_BR]=Obter metadados para este arquivo ou pasta (automaticamente)
Name[ro]=Culege metadate pentru acest fișier sau dosar (automat)
Name[sk]=Zbierať metadáta pre tento súbor alebo priečinok (automaticky)
Name[sl]=Zberi metapodatke za to datoteko ali mapo (samodejno)
Name[sv]=Samla in metadata för den här filen eller katalogen (automatiskt)
Name[tr]=Bu dosya veya klasör için üst veriyi ayıkla (otomatik olarak)
Name[uk]=Зібрати метадані для цього файла або теки (автоматично)
Name[x-test]=xxHarvest meta data for this file or folder (automatically)xx
Name[zh_CN]=从此文件或者文件夹获取元数据(自动)
Name[zh_TW]=取得此檔案與資料夾的中繼資料（自動）
Icon=nepomuk
Exec=nepomuk-webminer -a %f

[Desktop Action mdfetcher3]
Name=Harvest meta data for this file or folder (force download)
Name[bs]=Žetva metapodataka za ovu datoteku ili direktorij (forsiraj preuzimanje)
Name[ca]=Recull les metadades per aquest fitxer o carpeta (descàrrega forçada)
Name[da]=Høst metadata for denne fil eller mappe (gennemtving download)
Name[de]=Metadaten für die Datei oder Ordner einholen (herunterladen erzwingen)
Name[el]=Συλλογή μετα δεδομένων για αυτό το αρχείο ή το φάκελο (με εξαναγκασμό λήψης)
Name[es]=Recolectar metadatos para este archivo o carpeta (descarga forzada)
Name[et]=Faili või kataloogi metaandmete hankimine (jõuga allalaadimine)
Name[fi]=Kerää metatiedot tämän tiedoston tai kansion osalta (pakota lataus)
Name[fr]=Recueille des métadonnées pour ce fichier ou ce dossier (force le téléchargement)
Name[gl]=Reunir metadatos para este ficheiro ou cartafol (forzar a descarga)
Name[hu]=Metaadat begyűjtése ehhez a fájlhoz vagy mappához (letöltés kényszerítése)
Name[it]=Raccoglie meta dati per questo file o per questa cartella (forza scaricamento)
Name[kk]=Файл әлде қапшық үшін метадеректі (жүктеуін мәжбүрлеп) жинақтау
Name[lt]=Rinkti metaduomenis iš šio failo ar aplanko (priverstinai atsiųsti)
Name[nb]=Høst inn metadata for denne filen eller mappa (tving nedlasting)
Name[nl]=Metagegevens voor dit bestand of map oogsten (downloaden forceren)
Name[pl]=Zbierz meta dane dla tego pliku lub katalogu (wymuszone pobieranie)
Name[pt]=Obter os meta-dados desta pasta ou ficheiro (forçar a transferência)
Name[pt_BR]=Obter metadados para este arquivo ou pasta (forçar download)
Name[ro]=Culege metadate pentru acest fișier sau dosar (forțează descărcarea)
Name[sk]=Zbierať metadáta pre tento súbor alebo priečinok (vynútiť stiahnutie)
Name[sl]=Zberi metapodatke za to datoteko ali mapo (vsili prejem)
Name[sv]=Samla in metadata för den här filen eller katalogen (tvinga nerladdning)
Name[tr]=Bu dosya veya klasör için üst veriyi ayıkla (indirmeyi zorla)
Name[uk]=Зібрати метадані для цього файла або теки (примусове звантаження)
Name[x-test]=xxHarvest meta data for this file or folder (force download)xx
Name[zh_CN]=从此文件或者文件夹获取元数据(强制下载)
Name[zh_TW]=取得此檔案與資料夾的中繼資料（強制下載）
Icon=nepomuk
Exec=nepomuk-webminer -f %f


[Desktop Action mdfetcher4]
Name=Harvest meta data for this file or folder (automatically, force download)
Name[bs]=Žetva metapodataka za ovu datoteku ili direktorij (automatski, forsiraj preuzimanje)
Name[ca]=Recull les metadades per aquest fitxer o carpeta (automàticament, descàrrega forçada)
Name[da]=Høst metadata for denne fil eller mappe (automatisk, gennemtving download)
Name[de]=Metadaten für die Datei oder Ordner einholen (automatisch, herunterladen erzwingen)
Name[el]=Συλλογή μετα δεδομένων για αυτό το αρχείο ή το φάκελο (αυτόματα, με εξαναγκασμό λήψης)
Name[es]=Recolectar metadatos para este archivo o carpeta (automáticamente, descarga forzada)
Name[et]=Faili või kataloogi metaandmete hankimine (automaatne, jõuga allalaadimine)
Name[fi]=Kerää metatiedot tämän tiedoston tai kansion osalta (automaattisesti, pakota lataus)
Name[fr]=Recueille des métadonnées pour ce fichier ou ce dossier (automatiquement, force le téléchargement)
Name[gl]=Reunir metadatos para este ficheiro ou cartafol (automaticamente, forzar a descarga)
Name[hu]=Metaadat begyűjtése ehhez a fájlhoz vagy mappához (automatikusan, letöltés kényszerítése)
Name[it]=Raccoglie meta dati per questo file o per questa cartella (automaticamente, forza scaricamento)
Name[kk]=Файл әлде қапшық үшін метадеректі (жүктеуін мәжбүрлеп) автожинақтау
Name[lt]=Rinkti metaduomenis iš šio failo ar aplanko (automatiškai, priverstinai atsiųsti)
Name[nb]=Høst inn metadata for denne filen eller mappa (automatisk, tving nedlasting)
Name[nl]=Metagegevens voor dit bestand of map oogsten (automatisch, downloaden forceren)
Name[pl]=Zbierz meta dane dla tego pliku lub katalogu (samoczynnie, wymuszone pobieranie)
Name[pt]=Obter os meta-dados desta pasta ou ficheiro (automaticamente, forçar a transferência)
Name[pt_BR]=Obter metadados para este arquivo ou pasta (automaticamente, forçar download)
Name[ro]=Culege metadate pentru acest fișier sau dosar (automat, forțează descărcarea)
Name[sk]=Zbierať metadáta pre tento súbor alebo priečinok (automaticky, vynútiť stiahnutie)
Name[sl]=Zberi metapodatke za to datoteko ali mapo (samodejno, vsili prejem)
Name[sv]=Samla in metadata för den här filen eller katalogen (automatiskt, tvinga nerladdning)
Name[tr]=Bu dosya veya klasör için üst veriyi ayıkla (otomatik olarak, indirmeyi zorla)
Name[uk]=Зібрати метадані для цього файла або теки (автоматично, примусове звантаження)
Name[x-test]=xxHarvest meta data for this file or folder (automatically, force download)xx
Name[zh_CN]=从此文件或者文件夹获取元数据(自动，强制下载)
Name[zh_TW]=取得此檔案與資料夾的中繼資料（自動，強制下載）
Icon=nepomuk
Exec=nepomuk-webminer -a -f %f
