[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/*;video/*;inode/directory;
Actions=mdfetcher;mdfetcher2;
X-KDE-Submenu=Desktop Search
X-KDE-Submenu[cs]=Vyhledávací služby
X-KDE-Submenu[de]=Desktop-Suche
X-KDE-Submenu[es]=Búsqueda de escritorio
X-KDE-Submenu[fr]=Recherche sur le bureau
X-KDE-Submenu[ga]=Cuardach Deisce
X-KDE-Submenu[nds]=Schriefdischsöök
X-KDE-Submenu[nl]=Bureaublad-zoekopdracht
X-KDE-Submenu[pl]=Wyszukiwanie na pulpicie
X-KDE-Submenu[pt]=Pesquisa no Ambiente de Trabalho
X-KDE-Submenu[pt_BR]=Pesquisa no ambiente de trabalho
X-KDE-Submenu[sk]=Hľadanie na ploche
X-KDE-Submenu[sv]=Skrivbordssökning
X-KDE-Submenu[uk]=Стільничний пошук
X-KDE-Submenu[x-test]=xxDesktop Searchxx
Icon=nepomuk

[Desktop Action mdfetcher]
Name=Fetch MetaData for this file or folder
Name[es]=Obtener metadatos para este archivo o carpeta
Name[fr]=Extraction des métadonnées pour ce fichier ou ce dossier
Name[nl]=Metagegevens voor dit bestand of map ophalen
Name[pl]=Pobierz meta dane dla tego pliku lub katalogu
Name[pt]=Obter os meta-dados desta pasta ou ficheiro
Name[pt_BR]=Obter metadados para este arquivo ou pasta
Name[sv]=Hämta metadata för den här filen eller katalogen
Name[uk]=Отримати метадані з цього файла або теки
Name[x-test]=xxFetch MetaData for this file or folderxx
Icon=nepomuk
Exec=metadataextractor %f

[Desktop Action mdfetcher2]
Name=Fetch MetaData for this file or folder (force download)
Name[es]=Obtener metadatos para este archivo o carpeta (descarga forzada)
Name[fr]=Extraction de métadonnées pour ce fichier ou ce dossier (forcer le téléchargement)
Name[nl]=Metagegevens voor dit bestand of map ophalen (downloaden forceren)
Name[pl]=Pobierz meta dane dla tego pliku lub katalogu (wymuszone pobieranie)
Name[pt]=Obter os meta-dados desta pasta ou ficheiro (forçar a transferência)
Name[pt_BR]=Obter metadados para este arquivo ou pasta (forçar download)
Name[sv]=Hämta metadata för den här filen eller katalogen (tvinga nerladdning)
Name[uk]=Отримати метадані з цього файла або теки (примусове звантаження)
Name[x-test]=xxFetch MetaData for this file or folder (force download)xx
Icon=nepomuk
Exec=metadataextractor -f %f

