[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/*;inode/directory;
Actions=mdfetcher;
X-KDE-Submenu=Desktop Search
Icon=nepomuk

[Desktop Action mdfetcher]
Name=Fetch MetaData for pdf and odt files on the internet via microsoft academics
Icon=nepomuk
Exec=metadataextractor %f

