[Desktop Entry]
Exec=kcmshell4 kcm_nepomuk-webminer
Icon=nepomuk
Type=Service

X-DocPath=kcontrol/nepomuk-webminer/index.html

X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_nepomuk-webminer
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=desktop-search

Name=Nepomuk-WebMiner
Name[nl]=Nepomuk-WebMiner
Name[pt]=Nepomuk-WebMiner
Name[pt_BR]=Nepomuk-WebMiner
Name[uk]=Nepomuk-WebMiner
Name[x-test]=xxNepomuk-WebMinerxx
Comment=Nepomuk-WebMiner Configuration
Comment[nl]=Nepomuk configuratie van WebMiner
Comment[pt]=Configuração do Nepomuk-WebMiner
Comment[pt_BR]=Configuração do Nepomuk-WebMiner
Comment[uk]=Модуль налаштовування Nepomuk-WebMiner
Comment[x-test]=xxNepomuk-WebMiner Configurationxx
X-KDE-Keywords=Nepomuk,Metadata
X-KDE-Keywords[nl]=Nepomuk,metagegevens
X-KDE-Keywords[pt]=Nepomuk,Meta-dados
X-KDE-Keywords[pt_BR]=Nepomuk,Metadados
X-KDE-Keywords[uk]=Nepomuk,Metadata,немомук,непом’юк,метадані
X-KDE-Keywords[x-test]=xxNepomuk,Metadataxx

