[Desktop Entry]
Exec=kcmshell4 kcm_metadataextractor
Icon=nepomuk
Type=Service

X-DocPath=kcontrol/metadataextractor/index.html

X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_metadataextractor
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=workspace-appearance-and-behavior

Name=Metadata Extractor
Name[et]=Metaandmete ekstraktija
Name[nl]=Extractor van metagegevens
Name[pt]=Extracção de Meta-Dados
Name[pt_BR]=Extrator de metadados
Name[sv]=Extrahering av metadata
Name[uk]=Видобування метаданих
Name[x-test]=xxMetadata Extractorxx
Comment=Nepomuk Metadata Extractor Configuration
Comment[et]=Nepomuki metaandmete ekstraktimise seadistus
Comment[nl]=Nepomuk configuratie van extractor van metagegevens
Comment[pt]=Configuração da Extracção de Meta-Dados do Nepomuk
Comment[pt_BR]=Configuração do extrator de metadados do Nepomuk
Comment[sv]=Inställning av extrahering av Nepomuk metadata
Comment[uk]=Налаштування видобування метаданих Nepomuk
Comment[x-test]=xxNepomuk Metadata Extractor Configurationxx
X-KDE-Keywords=Nepomuk,Metadata
X-KDE-Keywords[et]=Nepomuk,metaandmed
X-KDE-Keywords[nl]=Nepomuk,metagegevens
X-KDE-Keywords[pt]=Nepomuk,Meta-dados
X-KDE-Keywords[pt_BR]=Nepomuk,Metadata
X-KDE-Keywords[sv]=Nepomuk,metadata
X-KDE-Keywords[uk]=Nepomuk,Metadata,немомук,непом’юк,метадані
X-KDE-Keywords[x-test]=xxNepomuk,Metadataxx

