[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=NepomukService
X-KDE-Library=metadataextractorservice
X-KDE-Nepomuk-autostart=true
Name=Nepomuk Meta Data Extractor Service

