[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=NepomukService
X-KDE-Library=nepomuk-webminerservice
X-KDE-Nepomuk-autostart=true
Name=Nepomuk-WebMiner Service

