[Desktop Entry]
Type=Application
Icon=nepomukwebminerplugin
X-KDE-Library=nepomukwebminerplugin
X-KDE-PluginInfo-Author=Jörg Ehrichs
X-KDE-PluginInfo-Email=Joerg.Ehrichs@gmx.de
X-KDE-PluginInfo-Name=nepomukwebminerplugin
X-KDE-PluginInfo-Version=0.3
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Tools
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=konqueror
X-DocPath=nepomukwebminerplugin/index.html

Comment=Harvest meta data from websites and add them to Nepomuk
Comment[bs]=Žetva metapodataka s web stranica i njihovo dodavanje u Nepomuk
Comment[da]=Høst metadata fra websider og føj dem til Nepomuk
Comment[de]=Metadaten von Webseiten einholen und zu Nepomuk hinzufügen
Comment[el]=Συλλέγει δεδομένα από ιστοχώρους και τα προσθέτει στο Nepomuk
Comment[es]=Recolectar metadatos de sitios web y añadirlos a Nepomuk
Comment[et]=Metaandmete ekstraktimine veebilehekülgedelt ja nende lisamine Nepomukki
Comment[fi]=Kerää metatietoa verkkosivuilta, ja lisää tiedot Nepomukiin
Comment[fr]=Recueille des métadonnées depuis des sites Web et les ajoute à Nepomuk
Comment[gl]=Recolección de metadatos de sitios web para engadilos a Nepomuk.
Comment[hu]=Metaadat begyűjtése weboldalakról és azok hozzáadása a Nepomukhoz
Comment[it]=Raccoglie meta dati dai siti web e li aggiunge a Nepomuk
Comment[kk]=Метадеректерін веб-сайттардан жинақтап, оларды Nepomuk қорына қосу
Comment[lt]=Rinkti metaduomenis iš tinklapių ir pridėti juos į Nepomuk
Comment[nb]=Høst inn metadata fra nettsteder og legg dem til Nepomuk
Comment[nl]=Oogst metagegevens uit websites en voegt ze toe aan Nepomuk
Comment[pl]=Zbierz meta dane ze stron sieciowych i dodaj je do Nepomuka
Comment[pt]=Extrair os meta-dados das páginas Web e adicioná-los ao Nepomuk
Comment[pt_BR]=Extrai metadados de páginas Web e adiciona-os ao Nepomuk
Comment[ro]=Culege metadate de pe saituri și le adaugă în Nepomuk
Comment[sk]=Zbierať metadáta z webových stránok a pridať ich do Nepomuku
Comment[sl]=Zberite metapodatke iz spletnih strani in jih dodajte v Nepomuk
Comment[sv]=Samla in metadata från webbplatser och lägg till den i Nepomuk
Comment[tr]=Web sitelerinden üst verileri ayıkla ve Nepomuk'a ekle
Comment[uk]=Збирає метадані з сайтів та додає ці метадані до сховища Nepomuk
Comment[x-test]=xxHarvest meta data from websites and add them to Nepomukxx
Comment[zh_CN]=从网站获取元数据，然后添加到 Nepomuk
Comment[zh_TW]=從網站上取得中繼資料並加入 Nepomuk
Name=Nepomuk-WebMiner Plugin
Name[bs]=Nepomuk-WebMiner dodatak
Name[da]=Nepomuk-WebMiner-plugin
Name[de]=Nepomuk-WebMiner-Modul
Name[el]=Πρόσθετο Nepomuk-WebMiner
Name[es]=Complemento Nepomuk-WebMiner
Name[et]=Nepomuki veebiotsija plugin
Name[fi]=Nepomuk-WebMiner-liitännäinen
Name[fr]=Module externe Nepomuk-Webminer
Name[gl]=Complemento Nepomuk-WebMiner
Name[hu]=Nepomuk-WebMiner bővítmény
Name[it]=Estensione Nepomuk-WebMiner
Name[kk]=Nepomuk-WebMiner плагині
Name[lt]=Nepomuk-WebMiner papildinys
Name[mr]=नेपोमुक-वेबमाइनर प्लगइन
Name[nb]=Programtillegg for Nepomuk nettgraving
Name[nl]=Nepomuk plug-in voor WebMiner
Name[pl]=Wtyczka Górnika Sieciowego Nepomuk
Name[pt]='Plugin' do Nepomuk-WebMiner
Name[pt_BR]=Plugin do Nepomuk-WebMiner
Name[ro]=Extensie Nepomuk-WebMiner
Name[sk]=Plugin Nepomuk-WebMiner
Name[sl]=Vstavek Nepomuk-WebMiner
Name[sv]=Nepomuk-insticksprogram för webbinsamling
Name[tr]=Nepomuk-WebMadenci Eklentisi
Name[uk]=Додаток Nepomuk-WebMiner
Name[x-test]=xxNepomuk-WebMiner Pluginxx
Name[zh_CN]=Nepomuk 网络挖掘插件
Name[zh_TW]=Nepomuk-WebMiner 外掛程式
GenericName=Nepomuk-WebMiner Plugin
GenericName[bs]=Nepomuk-WebMiner dodatak
GenericName[da]=Nepomuk-WebMiner-plugin
GenericName[de]=Nepomuk-WebMiner-Modul
GenericName[el]=Πρόσθετο Nepomuk-WebMiner
GenericName[es]=Complemento Nepomuk-WebMiner
GenericName[et]=Nepomuki veebiotsija plugin
GenericName[fi]=Nepomuk-WebMiner-liitännäinen
GenericName[fr]=Module externe Nepomuk-Webminer
GenericName[gl]=Complemento WebMiner para Nepomuk
GenericName[hu]=Nepomuk-WebMiner bővítmény
GenericName[it]=Estensione Nepomuk-WebMiner
GenericName[kk]=Nepomuk-WebMiner плагині
GenericName[lt]=Nepomuk-WebMiner papildinys
GenericName[mr]=नेपोमुक-वेबमाइनर प्लगइन
GenericName[nb]=Programtillegg for Nepomuk nettgraving
GenericName[nl]=Nepomuk plug-in voor WebMiner
GenericName[pl]=Wtyczka Górnika Sieciowego Nepomuk
GenericName[pt]='Plugin' do Nepomuk-WebMiner
GenericName[pt_BR]=Plugin do Nepomuk-WebMiner
GenericName[ro]=Extensie Nepomuk-WebMiner
GenericName[sk]=Plugin Nepomuk-WebMiner
GenericName[sl]=Vstavek Nepomuk-WebMiner
GenericName[sv]=Nepomuk-insticksprogram för webbinsamling
GenericName[tr]=Nepomuk-WebMadenci Eklentisi
GenericName[uk]=Додаток Nepomuk-WebMiner
GenericName[x-test]=xxNepomuk-WebMiner Pluginxx
GenericName[zh_CN]=Nepomuk 网络挖掘插件
GenericName[zh_TW]=Nepomuk-WebMiner 外掛程式

