[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/*;video/*;inode/directory;
Actions=mdfetcher;mdfetcher2;mdfetcher3;mdfetcher4;
X-KDE-Submenu=Desktop Search
Icon=nepomuk

[Desktop Action mdfetcher]
Name=Fetch MetaData for this file or folder
Icon=nepomuk
Exec=metadataextractor %f

[Desktop Action mdfetcher2]
Name=Fetch MetaData for this file or folder (automatically)
Icon=nepomuk
Exec=metadataextractor -a %f

[Desktop Action mdfetcher3]
Name=Fetch MetaData for this file or folder (force download)
Icon=nepomuk
Exec=metadataextractor -f %f


[Desktop Action mdfetcher4]
Name=Fetch MetaData for this file or folder (automatically, force download)
Icon=nepomuk
Exec=metadataextractor -a -f %f
