[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/*;video/*;audio/*;inode/directory;
Actions=mdfetcher;mdfetcher2;mdfetcher3;mdfetcher4;
X-KDE-Submenu=Desktop Search
Icon=nepomuk

[Desktop Action mdfetcher]
Name=Harvest meta data for this file or folder
Icon=nepomuk
Exec=nepomuk-webminer %f

[Desktop Action mdfetcher2]
Name=Harvest meta data for this file or folder (automatically)
Icon=nepomuk
Exec=nepomuk-webminer -a %f

[Desktop Action mdfetcher3]
Name=Harvest meta data for this file or folder (force download)
Icon=nepomuk
Exec=nepomuk-webminer -f %f


[Desktop Action mdfetcher4]
Name=Harvest meta data for this file or folder (automatically, force download)
Icon=nepomuk
Exec=nepomuk-webminer -a -f %f
