[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/*;video/*;audio/*;inode/directory;
Actions=mdfetcher;mdfetcher2;mdfetcher3;mdfetcher4;
X-KDE-Submenu=Desktop Search
X-KDE-Submenu[cs]=Vyhledávací služby
X-KDE-Submenu[da]=Skrivebordssøgning
X-KDE-Submenu[de]=Desktop-Suche
X-KDE-Submenu[es]=Búsqueda de escritorio
X-KDE-Submenu[et]=Töölauaotsing
X-KDE-Submenu[fr]=Recherche sur le bureau
X-KDE-Submenu[ga]=Cuardach Deisce
X-KDE-Submenu[hu]=Asztali keresés
X-KDE-Submenu[km]=ការ​ស្វែងរក​ផ្ទៃតុ
X-KDE-Submenu[nds]=Schriefdischsöök
X-KDE-Submenu[nl]=Bureaublad-zoekopdracht
X-KDE-Submenu[pl]=Wyszukiwanie na pulpicie
X-KDE-Submenu[pt]=Pesquisa no Ambiente de Trabalho
X-KDE-Submenu[pt_BR]=Pesquisa no desktop
X-KDE-Submenu[sk]=Hľadanie na ploche
X-KDE-Submenu[sv]=Skrivbordssökning
X-KDE-Submenu[uk]=Стільничний пошук
X-KDE-Submenu[x-test]=xxDesktop Searchxx
Icon=nepomuk

[Desktop Action mdfetcher]
Name=Harvest meta data for this file or folder
Icon=nepomuk
Exec=nepomuk-webminer %f

[Desktop Action mdfetcher2]
Name=Harvest meta data for this file or folder (automatically)
Icon=nepomuk
Exec=nepomuk-webminer -a %f

[Desktop Action mdfetcher3]
Name=Harvest meta data for this file or folder (force download)
Icon=nepomuk
Exec=nepomuk-webminer -f %f


[Desktop Action mdfetcher4]
Name=Harvest meta data for this file or folder (automatically, force download)
Icon=nepomuk
Exec=nepomuk-webminer -a -f %f
