[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/*;video/*;audio/*;inode/directory;
Actions=mdfetcher;mdfetcher2;mdfetcher3;mdfetcher4;
X-KDE-Submenu=Desktop Search
X-KDE-Submenu[cs]=Vyhledávací služby
X-KDE-Submenu[da]=Skrivebordssøgning
X-KDE-Submenu[de]=Desktop-Suche
X-KDE-Submenu[el]=Αναζήτηση στην επιφάνεια εργασίας
X-KDE-Submenu[es]=Búsqueda de escritorio
X-KDE-Submenu[et]=Töölauaotsing
X-KDE-Submenu[fr]=Recherche sur le bureau
X-KDE-Submenu[ga]=Cuardach Deisce
X-KDE-Submenu[hu]=Asztali keresés
X-KDE-Submenu[km]=ការ​ស្វែងរក​ផ្ទៃតុ
X-KDE-Submenu[nds]=Schriefdischsöök
X-KDE-Submenu[nl]=Bureaublad-zoekopdracht
X-KDE-Submenu[pl]=Wyszukiwanie na pulpicie
X-KDE-Submenu[pt]=Pesquisa no Ambiente de Trabalho
X-KDE-Submenu[pt_BR]=Pesquisa no desktop
X-KDE-Submenu[sk]=Hľadanie na ploche
X-KDE-Submenu[sv]=Skrivbordssökning
X-KDE-Submenu[uk]=Стільничний пошук
X-KDE-Submenu[x-test]=xxDesktop Searchxx
Icon=nepomuk

[Desktop Action mdfetcher]
Name=Harvest meta data for this file or folder
Name[da]=Høst metadata for denne fil eller mappe
Name[el]=Συλλογή μετα δεδομένων για αυτό το αρχείο ή το φάκελο
Name[hu]=Metaadat begyűjtése ehhez a fájlhoz vagy mappához
Name[nl]=Metagegevens voor dit bestand of map oogsten
Name[pt]=Obter os meta-dados desta pasta ou ficheiro
Name[pt_BR]=Obter metadados para este arquivo ou pasta
Name[sk]=Zbierať metadáta pre tento súbor alebo priečinok
Name[sv]=Samla in metadata för den här filen eller katalogen
Name[uk]=Зібрати метадані для цього файла або теки
Name[x-test]=xxHarvest meta data for this file or folderxx
Icon=nepomuk
Exec=nepomuk-webminer %f

[Desktop Action mdfetcher2]
Name=Harvest meta data for this file or folder (automatically)
Name[da]=Høst metadata for denne fil eller mappe (automatisk)
Name[el]=Συλλογή μετα δεδομένων για αυτό το αρχείο ή το φάκελο (αυτόματα)
Name[hu]=Metaadat begyűjtése ehhez a fájlhoz vagy mappához (automatikusan)
Name[nl]=Metagegevens voor dit bestand of map oogsten (automatisch)
Name[pt]=Obter os meta-dados desta pasta ou ficheiro (automaticamente)
Name[pt_BR]=Obter metadados para este arquivo ou pasta (automaticamente)
Name[sk]=Zbierať metadáta pre tento súbor alebo priečinok (automaticky)
Name[sv]=Samla in metadata för den här filen eller katalogen (automatiskt)
Name[uk]=Зібрати метадані для цього файла або теки (автоматично)
Name[x-test]=xxHarvest meta data for this file or folder (automatically)xx
Icon=nepomuk
Exec=nepomuk-webminer -a %f

[Desktop Action mdfetcher3]
Name=Harvest meta data for this file or folder (force download)
Name[da]=Høst metadata for denne fil eller mappe (gennemtving download)
Name[el]=Συλλογή μετα δεδομένων για αυτό το αρχείο ή το φάκελο (με εξαναγκασμό λήψης)
Name[hu]=Metaadat begyűjtése ehhez a fájlhoz vagy mappához (letöltés kényszerítése)
Name[nl]=Metagegevens voor dit bestand of map oogsten (downloaden forceren)
Name[pt]=Obter os meta-dados desta pasta ou ficheiro (forçar a transferência)
Name[pt_BR]=Obter metadados para este arquivo ou pasta (forçar download)
Name[sk]=Zbierať metadáta pre tento súbor alebo priečinok (vynútiť stiahnutie)
Name[sv]=Samla in metadata för den här filen eller katalogen (tvinga nerladdning)
Name[uk]=Зібрати для цього файла або теки (примусове звантаження)
Name[x-test]=xxHarvest meta data for this file or folder (force download)xx
Icon=nepomuk
Exec=nepomuk-webminer -f %f


[Desktop Action mdfetcher4]
Name=Harvest meta data for this file or folder (automatically, force download)
Name[da]=Høst metadata for denne fil eller mappe (automatisk, gennemtving download)
Name[el]=Συλλογή μετα δεδομένων για αυτό το αρχείο ή το φάκελο (αυτόματα, με εξαναγκασμό λήψης)
Name[hu]=Metaadat begyűjtése ehhez a fájlhoz vagy mappához (automatikusan, letöltés kényszerítése)
Name[nl]=Metagegevens voor dit bestand of map oogsten (automatisch, downloaden forceren)
Name[pt]=Obter os meta-dados desta pasta ou ficheiro (automaticamente, forçar a transferência)
Name[pt_BR]=Obter metadados para este arquivo ou pasta (automaticamente, forçar download)
Name[sk]=Zbierať metadáta pre tento súbor alebo priečinok (automaticky, vynútiť stiahnutie)
Name[sv]=Samla in metadata för den här filen eller katalogen (automatiskt, tvinga nerladdning)
Name[uk]=Зібрати метадані для цього файла або теки (автоматично, примусове звантаження)
Name[x-test]=xxHarvest meta data for this file or folder (automatically, force download)xx
Icon=nepomuk
Exec=nepomuk-webminer -a -f %f
