[Desktop Entry]
Type=Application
Icon=metadataextractorplugin
X-KDE-Library=metadataextractorplugin
X-KDE-PluginInfo-Author=Jörg Ehrichs
X-KDE-PluginInfo-Email=Joerg.Ehrichs@gmx.de
X-KDE-PluginInfo-Name=metadataextractorplugin
X-KDE-PluginInfo-Version=0.2
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Tools
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=konqueror
X-DocPath=metadataextractorplugin/index.html

Comment=Extract meta data from websites and add them to Nepomuk
Comment[da]=Træk metadata ud fra websider og føj dem til Nepomuk
Comment[es]=Extraer metadatos de sitios web y añadirlos a Nepomuk
Comment[et]=Metaandmete ekstraktimine veebilehekülgedelt ja nende lisamine Nepomukki
Comment[fr]=Extrait des métadonnées depuis ds sites web et les ajoute à Nepomuk
Comment[hu]=Metaadat kinyerése weboldalakról és azok hozzáadása a Nepomukhoz
Comment[nl]=Extraheert metagegevens uit websites en voegt ze toe aan Nepomuk
Comment[pt]=Extrair os meta-dados das páginas Web e adicioná-los ao Nepomuk
Comment[pt_BR]=Obtém metadados de páginas Web e adiciona-os ao Nepomuk
Comment[sk]=Extrahovať metadáta z webových stárnok a pridať ich do Nepomuku
Comment[sv]=Extrahera metadata från webbplatser och lägg till den i Nepomuk
Comment[uk]=Видобуває метадані з сайтів та додає ці метадані до сховища Nepomuk
Comment[x-test]=xxExtract meta data from websites and add them to Nepomukxx
Name=Nepomuk Meta Data Extractor Plugin
Name[da]=Nepomuk-plugin til udtræk af metadata
Name[es]=Complemento extractor de metadatos de Nepomuk
Name[et]=Nepomuki metaandmete ekstraktimise plugin
Name[fr]=Module externe d'extraction de métadonnées pour Nepomuk
Name[hu]=Nepomuk metaadat kinyerő bővítmény
Name[nl]=Plug-in van Nepomuk voor Extraheren van metagegevens
Name[pt]='Plugin' de Extracção de Meta-Dados do Nepomuk
Name[pt_BR]=Plugin de extração de metadados do Nepomuk
Name[sk]=Plugin extraktora metadát Nepomuk
Name[sv]=Insticksprogram för extrahering av Nepomuk metadata
Name[uk]=Додаток видобування метаданих Nepomuk
Name[x-test]=xxNepomuk Meta Data Extractor Pluginxx
GenericName=Nepomuk Meta Data Extractor Plugin
GenericName[da]=Nepomuk-plugin til udtræk af metadata
GenericName[es]=Complemento extractor de metadatos de Nepomuk
GenericName[et]=Nepomuki metaandmete ekstraktimise plugin
GenericName[fr]=Module externe d'extraction de métadonnées pour Nepomuk
GenericName[hu]=Nepomuk metaadat kinyerő bővítmény
GenericName[nl]=Plug-in van Nepomuk voor Extraheren van metagegevens
GenericName[pt]='Plugin' de Extracção de Meta-Dados do Nepomuk
GenericName[pt_BR]=Plugin de extração de metadados do Nepomuk
GenericName[sk]=Plugin extraktora metadát Nepomuk
GenericName[sv]=Insticksprogram för extrahering av Nepomuk metadata
GenericName[uk]=Додаток видобування метаданих Nepomuk
GenericName[x-test]=xxNepomuk Meta Data Extractor Pluginxx

