[Desktop Entry]
Type=Application
Icon=nepomukwebminerplugin
X-KDE-Library=nepomukwebminerplugin
X-KDE-PluginInfo-Author=Jörg Ehrichs
X-KDE-PluginInfo-Email=Joerg.Ehrichs@gmx.de
X-KDE-PluginInfo-Name=nepomukwebminerplugin
X-KDE-PluginInfo-Version=0.3
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Tools
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=konqueror
X-DocPath=nepomukwebminerplugin/index.html

Comment=Harvest meta data from websites and add them to Nepomuk
Comment[da]=Høst metadata fra websider og føj dem til Nepomuk
Comment[el]=Συλλέγει δεδομένα από ιστοχώρους και τα προσθέτει στο Nepomuk
Comment[et]=Metaandmete ekstraktimine veebilehekülgedelt ja nende lisamine Nepomukki
Comment[hu]=Metaadat begyűjtése weboldalakról és azok hozzáadása a Nepomukhoz
Comment[nl]=Oogst metagegevens uit websites en voegt ze toe aan Nepomuk
Comment[pt]=Extrair os meta-dados das páginas Web e adicioná-los ao Nepomuk
Comment[pt_BR]=Extrai metadados de páginas Web e adiciona-os ao Nepomuk
Comment[sk]=Zbierať metadáta z webových stránok a pridať ich do Nepomuku
Comment[sv]=Samla in metadata från webbplatser och lägg till den i Nepomuk
Comment[uk]=Збирає метадані з сайтів та додає ці метадані до сховища Nepomuk
Comment[x-test]=xxHarvest meta data from websites and add them to Nepomukxx
Name=Nepomuk-WebMiner Plugin
Name[da]=Nepomuk-WebMiner-plugin
Name[el]=Πρόσθετο Nepomuk-WebMiner
Name[et]=Nepomuki veebiotsija plugin
Name[hu]=Nepomuk-WebMiner bővítmény
Name[nl]=Nepomuk plug-in voor WebMiner
Name[pt]='Plugin' do Nepomuk-WebMiner
Name[pt_BR]=Plugin do Nepomuk-WebMiner
Name[sk]=Plugin Nepomuk-WebMiner
Name[sv]=Nepomuk-insticksprogram för webbinsamling
Name[uk]=Додаток Nepomuk-WebMiner
Name[x-test]=xxNepomuk-WebMiner Pluginxx
GenericName=Nepomuk-WebMiner Plugin
GenericName[da]=Nepomuk-WebMiner-plugin
GenericName[el]=Πρόσθετο Nepomuk-WebMiner
GenericName[et]=Nepomuki veebiotsija plugin
GenericName[hu]=Nepomuk-WebMiner bővítmény
GenericName[nl]=Nepomuk plug-in voor WebMiner
GenericName[pt]='Plugin' do Nepomuk-WebMiner
GenericName[pt_BR]=Plugin do Nepomuk-WebMiner
GenericName[sk]=Plugin Nepomuk-WebMiner
GenericName[sv]=Nepomuk-insticksprogram för webbinsamling
GenericName[uk]=Додаток Nepomuk-WebMiner
GenericName[x-test]=xxNepomuk-WebMiner Pluginxx

